body {
    display: flex;
    background-color: #d9fbe5;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-family: "Avenir", "Roboto", Arial, sans-serif;
}

button, button:active {
    box-sizing: border-box;
    font-size: 1em;
    height: 44px;
    width: auto;
    padding: 0 16px;
    border-radius: 8px;
    background-color: #0000ff;
    color: #f2f2f2;
    -webkit-appearance: none;
    border: none;
    transition: 0.1s;
}

button:hover {
    background-color: #000000;
    transition: 0.1s;
}