body {
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    width: 1200px;
    display: flex;
    margin: auto;
}

.table {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px 32px;
    margin-top: 32px;
    border: 1px solid black;
}

.table p {
    margin: 0;
    margin-bottom: 4px;
    width: 40px;
    padding: 8px;
    flex: 0 1 auto;
    border: 1px solid black;
}

.code {
    font-family: "Roboto monospace", monospace;
    font-weight: 400;
    padding: 4px;
    border-radius: 2px;
    background-color: #ebebeb;
    border: 1px solid #dcdcdc;
}

h1, h2, h3, h4, h5 {
    margin-top: 24px;
}

li {
    margin-bottom: 16px;
}

ol, ul {
    padding-left: 24px;
}