body {
    font-family: "Roboto",Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 24px;
    width: 500px;
    display: flex;
    margin: auto;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

h1, h2, h3, h4, h5 {
    margin-top: 24px;
}

li {
    margin-bottom: 16px;
}

ol {
    padding-left: 24px;
}